@import '../../../assets/sass/variables';

.app-search {
  width: 50%;
  max-width: 25rem;

  .ant-input-affix-wrapper .ant-input-suffix {
    right: $module-rem * 2;

    > * {
      font-weight: 700;
      opacity: 0.4;
      font-size: 1.2rem;
    }
  }
}
