@import '../../../assets/sass/variables';

.app-search {
  width: 40%;
  max-width: 25rem;

  @media #{$max767} {
    max-width: 20rem !important;
  }

  .ant-input-affix-wrapper .ant-input-suffix {
    right: $module-rem * 2.5;

    > * {
      font-weight: 500;
      opacity: 0.4;
      font-size: 1.25rem;
    }
  }
}
